/* 主题变量定义 */
:root {
  --link-color-light: #61dafb;
  --header-background-light: #282c34;
  --header-text-color-light: white;
  --box-background-light: white;
  --box-shadow-light: 0 2px 5px rgba(0,0,0,0.1);

  --link-color-dark: #4a86e8;
  --header-background-dark: #1a202c;
  --header-text-color-dark: #ccc;
  --box-background-dark: #444;
  --box-shadow-dark: 0 2px 5px rgba(0,0,0,0.3);
}

/* 暗色主题样式 */
[data-theme="dark"] {
  --link-color: var(--link-color-dark);
  --header-background: var(--header-background-dark);
  --header-text-color: var(--header-text-color-dark);
  --box-background: var(--box-background-dark);
  --box-shadow: var(--box-shadow-dark);
}

/* 浅色主题样式 */
[data-theme="light"] {
  --link-color: var(--link-color-light);
  --header-background: var(--header-background-light);
  --header-text-color: var(--header-text-color-light);
  --box-background: var(--box-background-light);
  --box-shadow: var(--box-shadow-light);
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--header-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--header-text-color);
}

.App-link {
  color: var(--link-color);
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: var(--box-background);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
